@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Celeste */
.input-celeste:-webkit-autofill,
.input-celeste:-webkit-autofill:hover,
.input-celeste:-webkit-autofill:focus,
.input-celeste:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #e0f7ff inset !important;
  -webkit-text-fill-color: #0e7490 !important; /* similar a text-cyan-700 */
  caret-color: #0e7490;
  transition: background-color 5000s ease-in-out 0s;
}

.input-rosado:-webkit-autofill,
.input-rosado:-webkit-autofill:hover,
.input-rosado:-webkit-autofill:focus,
.input-rosado:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffe4ec inset !important;
  -webkit-text-fill-color: #be185d !important;
  caret-color: #be185d;
}